<span class="radioClass">Show : </span>

<input type="radio" name="options" value="All" [(ngModel)]="selectRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"All("+all+")"}}</span>

<input type="radio" name="options" value="Male" [(ngModel)]="selectRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"Male("+male+")"}}</span>

<input type="radio" name="options" value="Female" [(ngModel)]="selectRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"Female("+female+")"}}</span>
